# SPDX-FileCopyrightText: 2023-2025 Friedrich von Never <friedrich@fornever.me>
#
# SPDX-License-Identifier: MIT

[submodule "Fabricator"]
	path = Fabricator
	url = git@github.com:ForNeVeR/Fabricator.git
