# SPDX-FileCopyrightText: 2025 Friedrich von Never <friedrich@fornever.me>
#
# SPDX-License-Identifier: MIT

on:
  push:
    branches:
      - master
      - renovate/**
  pull_request:
    branches:
      - master
  schedule:
    - cron: '0 0 * * 6' # every Saturday
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out the repository
        uses: actions/checkout@v6
      - name: Run ansible-lint
        uses: ansible/ansible-lint@v26
        with:
          args: "-c ansible-lint.yml"

  encoding:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out the repository
        uses: actions/checkout@v6

      - name: Verify encoding
        shell: pwsh
        run: Install-Module VerifyEncoding -Repository PSGallery -RequiredVersion 2.2.0 -Force && Test-Encoding

  licenses:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out the repository
        uses: actions/checkout@v6

      - name: REUSE license check
        uses: fsfe/reuse-action@v6
